# =========================
# Nextflow
# =========================
.nextflow/
.nextflow.log*
work/

# =========================
# Sequencing data
# =========================
reads/
*.fastq
*.fastq.gz
*.fq
*.fq.gz

# =========================
# Temporary / backup files
# =========================
*.save
wget-log

# =========================
# R / RMarkdown temporary files
# =========================
*.log
*.tex
*_files/

# =========================
# macOS
# =========================
.DS_Store
