params {
csv = null
debug = false
outdir = "../HRR_RunBRCA"

//we make links for bwa index

//we declare bwa variables
aligner="bwa-mem2"
alt_js="bwa-postalt.js"
alt=false
hla=true
ref="NO_FILE"

//we declare elprep variables
dbsnp="NO_FILE"
dbindel="NO_FILE"
elpre_ref="NO_FILE"

}

process {
    withName: 'PRINT_VERSIONS()'{
	cpus = 1
	memory = '1 GB'
   }
    withName: 'FASTQC' {
        container = 'docker://quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        cpus = 8
	    memory = '15 GB'
    }
    withName: 'BWAMEM' {
        container = 'community.wave.seqera.io/library/bwa-mem2_bwakit_k8:c7c6b04074cfc362'
        cpus = 4
	memory = '8 GB'
    }
    withName: 'MERGEB' {
        cpus = 4
        memory = '10 GB'
    }
    withName: 'ELPREP' {
        cpus = 4
        memory = '4 GB'
    }
    withName: 'QUALIMAP' {
        cpus = 4
	memory = '4 GB'
    }
    withName: 'B2C' {
        cpus = 4
	 memory = '4 GB'
    }
    withName: 'STRELKA_ONESAMPLE'{
	cpus = 1
	memory = '4 GB'
    }
    withName: 'STRELKA_POOL'{
	cpus = 2
	memory = '4 GB'
    }
    withName: 'DEEPVARIANT_ONESAMPLE' {
      cpus = 8
      memory = '40 GB'
    }
    withName: 'GLNEXUS_DEEPVARIANT' {
    cpus = 4
    memory = '10 GB'
   }
   withName: 'B2V' {
    cpus = 4
    memory = '10 GB'
   }
   withLabel: PANMASK {
    container = 'oras://ghcr.io/sigven/pcgr:2.2.5.singularity'
    cpus = 2
    memory = '8 GB'
    }
   withLabel: CPSR {
    container = 'oras://ghcr.io/sigven/pcgr:2.2.5.singularity'
    cpus = 4
    memory = '16 GB'
   }
}

container {
    enabled = true
}

profiles {

kutral {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /mnt/beegfs/labs/DiGenomaLab"
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
	executor.queueSize = 10
	//process.clusterOptions = '--nodelist=SRV-04'
	process.executor = 'slurm'
	process.queue = 'ngen-ko'
	process.scratch = true
	process.temp = "/mnt/beegfs/home/efeliu/tmp"
    }
    uoh {
        process {
            executor = "slurm"
            queue = 'ngen-ko'

        }
    }

    conda {
        process.conda = '$baseDir/conda.yml'
    }
}

params.trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_timestamp}.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_timestamp}.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_timestamp}.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_timestamp}.html"
}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/digenoma-lab/BRCA'
    author = 'Evelin González'
    version = '0.1'
}

