
process {
    withName: 'PRINT_VERSIONS()'{
	    cpus = 1
	    memory = '1 GB'
   }
    withName: 'FASTQC' {
        container = 'docker://quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
        cpus = 8
	    memory = '15 GB'
    }
    withName: 'BWAMEM' {
        container = 'community.wave.seqera.io/library/bwa-mem2_bwakit_k8:c7c6b04074cfc362'
        cpus = 8
	    memory = '20 GB'
    }
    withName: 'MERGEB' {
        cpus = 4
        memory = '10 GB'
    }
    withName: 'ELPREP' {
        cpus = 4
        memory = '4 GB'
    }
    withName: 'QUALIMAP' {
        container = 'https://depot.galaxyproject.org/singularity/qualimap:2.3--hdfd78af_0'
        cpus = 4
	    memory = '4 GB'
    }
    withName: 'B2C' {
        cpus = 4
	    memory = '4 GB'
    }
    withName: 'BCFTOOLS_FILTER|BF' {
        container = 'https://depot.galaxyproject.org/singularity/bcftools:1.17--haef29d1_0'
        cpus = 4
        memory = '10 GB'
    }
    withName: 'STRELKA_ONESAMPLE'{
	    cpus = 1
	    memory = '4 GB'
    }
    withName: 'STRELKA_POOL'{
	    cpus = 2
	    memory = '4 GB'
    }
    withName: 'DEEPVARIANT_ONESAMPLE' {
        container = 'docker://google/deepvariant:1.6.1'
        cpus = 8
        memory = '40 GB'
        cpus = 10
        clusterOptions = '--nodelist=toki-hm-1'
    }
    withName: 'GLNEXUS_DEEPVARIANT' {
        container = 'docker://quay.io/biocontainers/glnexus:1.4.1--h5c1b0a6_3'
        cpus = 20
        memory = '80 GB'
	    clusterOptions = '--nodelist=toki-hm-1'
   }
   withName: 'B2V' {
        cpus = 4
        memory = '10 GB'
   }
   withLabel: PANMASK {
        container = 'oras://ghcr.io/sigven/pcgr:2.2.5.singularity'
        cpus = 2
        memory = '8 GB'
    }
   withLabel: CPSR {
        container = 'oras://ghcr.io/sigven/pcgr:2.2.5.singularity'
        cpus = 4
        memory = '16 GB'
        containerOptions = "-B ${params.vep_dir}:${params.vep_dir},${params.refdata_dir}:${params.refdata_dir}"

   }
}
container {
    enabled = true
}

profiles {

kutral {
        singularity.enabled    = true
        singularity.autoMounts = true
        singularity.runOptions = "-B /mnt/beegfs/labs/DiGenomaLab"
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
	executor.queueSize = 10
	//process.clusterOptions = '--nodelist=SRV-04'
	process.executor = 'slurm'
	process.queue = 'ngen-ko'
	process.scratch = true
	process.temp = "/mnt/beegfs/home/efeliu/tmp"
    }
    uoh {
        process {
            executor = "slurm"
            queue = 'ngen-ko'

        }
    }

    conda {
        process.conda = '$baseDir/conda.yml'
    }
}

params.trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_timestamp}.html"
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_timestamp}.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_timestamp}.txt"
}

dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_timestamp}.html"
}

manifest {
    defaultBranch = 'main'
    homePage = 'https://github.com/digenoma-lab/BRCA'
    author = 'Evelin González'
    version = '0.1'
}

